@import "../../style/variables";

$height: 100%;

$input-margin: 5px 0px;
$input-width: 80%;

.#{$namespace}-trace-display {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;

  .#{$namespace}-row {
    height: 100%;
  }

  .#{$namespace}-col {
    height: 100%;
    display: flex;
  }

  .#{$namespace}-title {
    width: 100%;
    height: 50px;
  }

  .#{$namespace}-canvas {
    width: 100%;
    height: $height;
  }

  .#{$namespace}-map {
    width: 80%;
    height: $height;
  }

  .#{$namespace}-traceCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
  }

  .#{$namespace}-input-container {
    display: flex;
    justify-content: center;
  }

  // for input common style;
  @mixin input {
    margin: $input-margin;
    width: $input-width;
    max-width: 200px;
  }

  .#{$namespace}-commonInput {
    @include input;
    @include btn;
  }

  .#{$namespace}-date-picker {
    @include input;
    @include date-picker-input;
  }
}