@import '../../../style/variables.scss';

$height: 30px;
$width: 100px;

.#{$namespace}-label {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: $width;
  height: $height;
  //background-color: skyblue;
  user-select: none;
}