// Set classes namespace.
$namespace: 'wind-taxi';

// My base color.
$myblue: rgba(12, 21, 36, 1);
$mypink: rgba(255, 94, 146, 1);
$myorange: rgba(244, 91, 60, 1);
$myskyblue: rgba(103, 135, 254, 1);

$text-color: rgba(255, 255, 255, 1);
$darker-text-color: rgba(255, 255, 255, 0.8);


//alert z-index. It is on the top of app.
$alertZIndex: 10000;

// For input common style. for instance, label, input and button.
// @mixin btn {
//    background-color: $myblue;
//    color: white;
//    border: solid 1px rgba(255, 255, 255, 1);

//    &:hover {
//       background-color: rgba(12, 21, 35, 0.6);
//    }

//    &:focus {
//       background-color: $myblue;
//    }
// }

// For date common style.
// @mixin date-picker-input {
//    background-color: $myblue;
// }

// .#{$namespace}-date-picker-input {
//    & input {
//       color: $text-color;
//       background-color: $myblue;
//    }
// }

// div[class='ant-calendar-panel'] {
//    & *{
//       color: $text-color;
//       background-color: $myblue;
//    }

//    div[class='ant-calendar-header'] a {
//       color: $text-color;
//    }
// }